In [1]:
import pandas as pd
import numpy as np

In [2]:
df1= pd.read_csv('netflix_data_enhanced.csv')

In [3]:
df1.head()

,Title,Cleaned,Global,Date,Hours,URL,Duration,Genre,Genres,Tags,Plot,Starring,Creators,Cast
0,The Night Agent: Season 1,The Night Agent,Yes,3/23/23,"812,100,000",https://www.netflix.com/title/81450827,1 Season-55m Episodes,Thrillers,"['TV Mysteries', 'TV Shows Based on Books', 'P...","['Exciting', 'Suspenseful']","While monitoring an emergency line, a vigilant...","Gabriel Basso, Luciane Buchanan, Hong Chau",Shawn Ryan,"['Gabriel Basso', 'Luciane Buchanan', 'Hong Ch..."
1,Ginny & Georgia: Season 2,Ginny & Georgia,Yes,01/05/2023,"665,100,000",https://www.netflix.com/title/81025696,2 Seasons-59m Episodes,Drama,"['Romantic TV Comedies', 'Romantic TV Dramas',...","['Emotional', 'Scandalous']","Free-spirited Georgia and her two kids, Ginny ...","Brianne Howey, Antonia Gentry, Diesel La Torraca",Sarah Lampert,"['Brianne Howey', 'Antonia Gentry', 'Diesel La..."
2,The Glory: Season 1 // 더 글로리: 시즌 1,The Glory,Yes,12/30/22,"622,800,000",https://www.netflix.com/title/81519223,1 Season-47m Episodes,Drama,"['TV Dramas', 'Korean']",['Dark'],Years after surviving horrific abuse in high s...,"Song Hye-kyo, Lee Do-hyun, Lim Ji-yeon","Kim Eun-sook, An Gil-ho","['Song Hye-kyo', 'Lee Do-hyun', 'Lim Ji-yeon',..."
3,Wednesday: Season 1,Wednesday,Yes,11/23/22,"507,700,000",https://www.netflix.com/title/81231974,1 Season-60m Episodes,Fantasy,"['Crime TV Shows', 'TV Comedies', 'TV Mysterie...",['Deadpan'],"Smart, sarcastic and a little dead inside, Wed...","Jenna Ortega, Gwendoline Christie, Riki Lindhome","Alfred Gough, Miles Millar","['Jenna Ortega', 'Gwendoline Christie', 'Riki ..."
4,Queen Charlotte: A Bridgerton Story,Queen Charlotte: A Bridgerton Story,Yes,05/04/2023,"503,000,000",https://www.netflix.com/title/81476183,1 Season-55m Episodes,Drama,"['Period Pieces', 'TV Dramas', 'Romantic TV Dr...","['Emotional', 'Intimate', 'Witty']",Young Queen Charlotte's marriage to King Georg...,"India Amarteifio, Adjoa Andoh, Michelle Fairley",Shonda Rhimes,"['India Amarteifio', 'Adjoa Andoh', 'Michelle ..."

In [4]:
df1.shape

(18214, 14)

In [26]:
excel_file_path = "What_We_Watched_A_Netflix_Engagement_Report_2023Jan-Jun.xlsx"
df2= pd.read_excel(excel_file_path)

df2.head()

,Unnamed: 0,Title,Available Globally?,Release Date,Hours Viewed
0,NaN,The Night Agent: Season 1,Yes,2023-03-23,812100000
1,NaN,Ginny & Georgia: Season 2,Yes,2023-01-05,665100000
2,NaN,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,622800000
3,NaN,Wednesday: Season 1,Yes,2022-11-23,507700000
4,NaN,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,503000000

In [27]:
df2= df2.drop(df2.columns[0], axis=1)

In [28]:
df2.head()

,Title,Available Globally?,Release Date,Hours Viewed
0,The Night Agent: Season 1,Yes,2023-03-23,812100000
1,Ginny & Georgia: Season 2,Yes,2023-01-05,665100000
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,622800000
3,Wednesday: Season 1,Yes,2022-11-23,507700000
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,503000000

In [6]:
df1['Genre'].unique()

array(['Thrillers', 'Drama', 'Fantasy', 'Action', 'Reality TV',
       'Comedies', nan, 'Kids', 'Sci-Fi', 'Romance', 'Documentaries',
       'Horror', 'Anime', 'Westerns', 'Musicals',
       'TV Variety & Talk Shows', 'Music Non-Fiction', 'Special Interest',
       'Sports Non-Fiction'], dtype=object)

In [7]:
#see shows with only kids
df_kids= df1[df1['Genre'] =='Kids']

df_kids.shape

(1200, 14)

In [8]:
df_nan = df1[pd.isna(df1["Genre"])]
df_nan.shape

(10391, 14)

In [9]:
df_nan.head()

,Title,Cleaned,Global,Date,Hours,URL,Duration,Genre,Genres,Tags,Plot,Starring,Creators,Cast
28,You People,You People,Yes,1/27/23,"181,800,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,"Pablo Escobar, el patrón del mal: Season 1","Pablo Escobar, el patr√≥n del mal",Yes,NaN,"170,100,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Chiquititas (2013),Chiquititas (2013),No,NaN,"162,000,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Til Money Do Us Part: Season 1 // Hasta que la...,Til Money Do Us Part,No,10/19/22,"152,100,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,The Walking Dead: Season 11,The Walking Dead,No,NaN,"136,800,000",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_kids.isna().sum()

Title         0
Cleaned       0
Global        0
Date        571
Hours         0
URL           1
Duration     23
Genre         0
Genres        0
Tags          1
Plot          2
Starring     59
Creators    741
Cast          1
dtype: int64

In [14]:
#sample with creators , so we can create a chart where we consider the durations and creators
column_to_drop = 'Creators'
df_kids2= df_kids.dropna (subset=[column_to_drop])

df_kids2= df_kids2.reset_index(drop=True)

In [17]:
df_kids= df_kids.reset_index(drop=True)

In [18]:
df_kids

,Title,Cleaned,Global,Date,Hours,URL,Duration,Genre,Genres,Tags,Plot,Starring,Creators,Cast
0,PAW Patrol: Season 6,PAW Patrol,No,NaN,"149,300,000",NaN,NaN,Kids,Kids,NaN,NaN,NaN,NaN,NaN
1,CoComelon: Season 1,CoComelon,No,5/31/20,"136,200,000",https://www.netflix.com/title/81273085,8 Seasons-62m Episodes,Kids,"['Kids Music', ""Kids' TV"", 'TV Cartoons', 'Edu...",[],"Learn letters, numbers, animal sounds and more...",NaN,NaN,[]
2,CoComelon: Season 2,CoComelon,No,12/17/20,"102,300,000",https://www.netflix.com/title/81273085,8 Seasons-62m Episodes,Kids,"['Kids Music', ""Kids' TV"", 'TV Cartoons', 'Edu...",[],"Learn letters, numbers, animal sounds and more...",NaN,NaN,[]
3,CoComelon: Season 3,CoComelon,No,5/31/21,"91,400,000",https://www.netflix.com/title/81273085,8 Seasons-62m Episodes,Kids,"['Kids Music', ""Kids' TV"", 'TV Cartoons', 'Edu...",[],"Learn letters, numbers, animal sounds and more...",NaN,NaN,[]
4,CoComelon: Season 4,CoComelon,No,10/14/21,"82,500,000",https://www.netflix.com/title/81273085,8 Seasons-62m Episodes,Kids,"['Kids Music', ""Kids' TV"", 'TV Cartoons', 'Edu...",[],"Learn letters, numbers, animal sounds and more...",NaN,NaN,[]
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,VeggieTales in the House: Season 4,VeggieTales in the House,No,NaN,"100,000",https://www.netflix.com/title/80011539,NaN,Kids,"['Faith & Spirituality', ""Kids' TV"", 'TV Carto...",['Feel-Good'],"Bob the Tomato, Larry the Cucumber and their V...","Phil Vischer, Mike Nawrocki, Rob Paulsen",NaN,"['Phil Vischer', 'Mike Nawrocki', 'Rob Paulsen..."
1196,Waffles + Mochi's Holiday Feast,Waffles + Mochi's Holiday Feast,Yes,11/23/21,"100,000",https://www.netflix.com/title/81416735,28m,Kids,"['Education for Kids', 'Kids & Family Movies',...",['Feel-Good'],"On the first-ever Freezie Day, Waffles and Moc...","Michelle Zamora, Russ Walko, Michelle Obama",NaN,"['Michelle Zamora', 'Russ Walko', 'Michelle Ob..."
1197,Wake Up: Season 1 // 麻醉風暴: 第 1 季 // 麻醉风暴: 第 1 季,Wake Up,No,NaN,"100,000",https://www.netflix.com/title/81093985,1 Season-24m Episodes,Kids,"['TV Cartoons', 'Brazilian', ""Kids' TV"", 'Fami...",['Goofy'],"Carlo is a wacky, fun-loving boy with a passio...","Gustavo Pereira, Andrei Duarte, Julia Cartier ...",Juliano Enrico,"['Gustavo Pereira', 'Andrei Duarte', 'Julia Ca..."
1198,Wake Up: Season 2 // 麻醉風暴: 第 2 季 // 麻醉风暴: 第 2 季,Wake Up,No,NaN,"100,000",https://www.netflix.com/title/81093985,1 Season-24m Episodes,Kids,"['TV Cartoons', 'Brazilian', ""Kids' TV"", 'Fami...",['Goofy'],"Carlo is a wacky, fun-loving boy with a passio...","Gustavo Pereira, Andrei Duarte, Julia Cartier ...",Juliano Enrico,"['Gustavo Pereira', 'Andrei Duarte', 'Julia Ca..."
1199,We Can Be Heroes // Bäst i Sverige,We Can Be Heroes,No,NaN,"100,000",https://www.netflix.com/title/80994666,1h 40m,Kids,"['Kids & Family Movies', 'Comedy Movies', 'Fam...","['Exciting', 'Goofy']",When alien invaders capture Earth’s superheroe...,"YaYa Gosselin, Pedro Pascal, Priyanka Chopra J...",NaN,"['YaYa Gosselin', 'Pedro Pascal', 'Priyanka Ch..."

In [23]:
#export df as excel
df_kids.to_excel('working_data/kids_df.xlsx')

In [29]:
df1.to_excel('working_data/enhanced.xlsx')
df2.to_excel('working_data/netflix_data.xlsx')